/* src/css/material_override.css */
body.pkp_page_article article.obj_article_details dd.material-article-abstract-override ul {
  list-style: inherit !important;
  padding: revert !important;
}
body.pkp_page_article article.obj_article_details dd.material-article-abstract-override p {
  margin-top: revert !important;
}
body.pkp_page_article article.obj_article_details dd.material-article-abstract-override a {
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity, 1)) !important;
  text-decoration: underline !important;
}
